section.contact.with-padding-bottom.is-flipped.with-parallax
  h2.chapter
    span 005 -
    |  Contact
  .blog__post
    .blog__image
      img(src='assets/i/img_portfolio-02-480-720.jpg')
    .blog__text
      h3 Quae Accusamus Consequuntur
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, sed.
