section.reveal-gallery
  h2.chapter
    span 001 -
    |  Our Values
  .rg__column.left(data-color='#a6b3b3')
    .rg__text
      .rg__text--heading
        span 01
        h3 Adipisicing Elitare
      .rg__text--copy
        .rg__text--mask
          p Lorem ipsum dolor sit amet consectetur.
    .rg__image
      .rg__image--mask
        img(src='assets/i/img_landscape-01-large.jpg')
  .rg__column.center(data-color='#b0a7a4')
    .rg__text
      .rg__text--heading
        span 02
        h3 Accusamus Accusantium
      .rg__text--copy
        .rg__text--mask
          p
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas aut veritatis.
    .rg__image
      .rg__image--mask
        img(src='assets/i/img_landscape-02-large.jpg')
  .rg__column.right(data-color='#a3abb1')
    .rg__text
      .rg__text--heading
        span 03
        h3 Ratione Quibusdam
      .rg__text--copy
        .rg__text--mask
          p
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas aut veritatis nostrum ratione quibusdam ea non laudantium accusamus accusantium molestias.
    .rg__image
      .rg__image--mask
        img(src='assets/i/img_landscape-03-large.jpg')
// /Reveal Gallery
