header(data-color='#ACB7AE')
  h1
    span Consectetur
    span Adipisicing
    span Elites
  p.subtitle
    | VOLUPTAS AUT 
    br
    | &amp; VERITASIS NOSTRUM
  .decor__circle
  .header__gallery
    .hg__left
      .hg__image.hg__image--l
        img(src='assets/i/img_landscape-01-large.jpg')
      .hg__image.hg__image--m
        img(src='assets/i/img_landscape-02-large.jpg')
      .hg__image.hg__image--s
        img(src='assets/i/img_landscape-03-large.jpg')
    .hg__right
      .hg__image.hg__image--l
        img(src='assets/i/img_landscape-03-large.jpg')
      .hg__image.hg__image--m
        img(src='assets/i/img_landscape-01-large.jpg')
      .hg__image.hg__image--s
        img(src='assets/i/img_landscape-02-large.jpg')
  .cta__circle
    .cta__circle--logo
