section.how-we-work.with-padding
  h2.chapter
    span 004 -
    |  How We Work
  .fixed-nav
    ul
      li.is-active
        a(href='#stage1') Amet Consectetur
      li
        a(href='#stage2') Eum Similique
      li
        a(href='#stage3') Cupiditate Vel
      li
        a(href='#stage4') Dignissimos Sed
  #stage1.stage.with-parallax(data-color='#8c8480')
    .stage__image
      img(src='assets/i/img_landscape-01-large.jpg')
    .stage__heading
      p 01
      h3 Amet Consectetur
    .stage__text
      p
        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, vel. Vel qui ipsum eum similique reiciendis dicta dignissimos sed ipsa.
  #stage2.stage.with-parallax(data-color='#505156')
    .stage__image
      img(src='assets/i/img_landscape-02-large.jpg')
    .stage__heading
      p 02
      h3 Eum Similique
    .stage__text
      p
        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, vel. Vel qui ipsum eum similique reiciendis dicta dignissimos sed ipsa.
  #stage3.stage.with-parallax(data-color='#717872')
    .stage__image
      img(src='assets/i/img_landscape-01-large.jpg')
    .stage__heading
      p 03
      h3 Cupiditate Vel
    .stage__text
      p
        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, vel. Vel qui ipsum eum similique reiciendis dicta dignissimos sed ipsa.
  #stage4.stage.with-parallax(data-color='#ccb28b')
    .stage__image
      img(src='assets/i/img_landscape-02-large.jpg')
    .stage__heading
      p 04
      h3 Dignissimos Sed
    .stage__text
      p
        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, vel. Vel qui ipsum eum similique reiciendis dicta dignissimos sed ipsa.
// /How We Work
