.loader
  .loader__mask
    .inner
    // this will scale up
.loader__content
  .inner
    // this will be animated on top of the dark background
    .loader__title
      .loader__title--mask
        span Anything
      .loader__title--mask
        span Is Possible
    .loader__image
      .loader__image--mask
        img(src='assets/i/img_landscape-01-large.jpg')
.logo
  span.logo__img
  span.logo__text Bella
.burger
  button.burger__open
    span
    span
    span
nav.main-nav
  ul
    li
      a(href='#0') Our Values
    li
      a(href='#0') Portfolio
    li
      a(href='#0') Blog
    li
      a(href='#0') How We Work
    li
      a(href='#0') Contact
