section.portfolio.with-padding
  h2.chapter
    span 002 -
    |  Portfolio
  .portfolio__categories
    a(href='#0', data-color='#b3a8b3', data-imagelarge='assets/i/img_portfolio-01-480-720.jpg', data-imagesmall='assets/i/img_portfolio-02-480-720.jpg') Voluptas &amp; Veritatis
    a(href='#0', data-color='#bab6a8', data-imagelarge='assets/i/img_portfolio-02-480-720.jpg', data-imagesmall='assets/i/img_portfolio-01-480-720.jpg') Nostrum &amp; Quibusdam
    a(href='#0', data-color='#a0abb4', data-imagelarge='assets/i/img_portfolio-01-480-720.jpg', data-imagesmall='assets/i/img_portfolio-02-480-720.jpg') Elit &amp; Laudantium
    a(href='#0', data-color='#a3b1ae', data-imagelarge='assets/i/img_portfolio-02-480-720.jpg', data-imagesmall='assets/i/img_portfolio-01-480-720.jpg') Tatione &amp; Nona
    a(href='#0', data-color='#afaba2', data-imagelarge='assets/i/img_portfolio-01-480-720.jpg', data-imagesmall='assets/i/img_portfolio-02-480-720.jpg') Accusantium Bold
  .portfolio__image--l
    .image_inside(style="background-image: url('assets/i/img_portfolio-02-480-720.jpg')")
  .portfolio__image--s
    .image_inside(style="background-image: url('assets/i/img_portfolio-01-480-720.jpg')")
// /Portfolio
