extends template

block css
  link(rel="stylesheet" type="text/css" href="assets/css/my.css")

block title
  title Main

block content
  include ../blocks/main-header
  div#main
    include ../blocks/header
  include ../blocks/how-we-work

  //- aside.fill-background(style='background-color: #ACB7AE')

block scripts
  script(src="assets/js/dist/webpack.js")
